@inherits LayoutComponentBase
@using ToDoBlazorApp.UserAuth
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISessionStorageService SessionStorageService
@inject NavigationManager NavigationManager

<PageTitle>ToDoBlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button @onclick="Logout" class="btn btn-danger">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button @onclick="Login" class="btn btn-primary">Login</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
   

    private async Task Logout()
    {
        await SessionStorageService.RemoveItemAsync("token");

        // Kimlik doğrulama sağlayıcısını güncelle
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).NotifyUserLogout();

        NavigationManager.NavigateTo("/login");
    }
    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }
}