@layout LoginLayout
@page "/login"
@page "/"
@using ToDoBlazorApp.UserAuth
@inject TokenService TokenService
@inject ISessionStorageService SessionStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject Loginservice loginservice
@attribute [AllowAnonymous]

<div class="login-form">
    <EditForm Model="@loginRequest" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="username">Username</label>
            <InputText id="username" @bind-Value="loginRequest.Username" />
        </div>
        <div>
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="loginRequest.Password" type="password" />
        </div>
        <button type="submit">Login</button>
    </EditForm>
    <p style="margin-top:10px;">@message</p>

</div>




@code {
    private LoginRequest loginRequest = new LoginRequest();
    private string message;

    private async Task HandleLogin()
    {
        var request = await loginservice.Authenticate(loginRequest);
        if (request == true)
        {
            var token = loginservice.GenerateToken(loginRequest);
            await SessionStorage.SetItemAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
            ((CustomAuthenticationStateProvider)AuthStateProvider).NotifyAuthenticationStateChanged();
            message = "Login successful.";
            Navigation.NavigateTo("/home");
        }
        else
        {
            message = "Invalid username or password.";
        }
    }
}
<style>

    #password {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #username {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-container button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    .login-container button:hover {
            background-color: #45a049;
    }

</style>