@layout LoginLayout
@page "/login"
@using ToDoBlazorApp.UserAuth
@inject IHttpClientFactory HttpClientFactory
@inject TokenService TokenService
@inject ISessionStorageService SessionStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@inject Loginservice loginservice
<h3>Login</h3>

<EditForm Model="@loginRequest" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="loginRequest.Username" />
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="loginRequest.Password" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm>

<p>@message</p>

@code {
    private LoginRequest loginRequest = new LoginRequest();
    private string message;

    private async Task HandleLogin()
    {
        var request = await loginservice.Authenticate(loginRequest);
        if (request == true)
        {
            var token = loginservice.GenerateToken(loginRequest);
            await SessionStorage.SetItemAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
            ((CustomAuthenticationStateProvider)AuthStateProvider).NotifyAuthenticationStateChanged();
            message = "Login successful.";
            Navigation.NavigateTo("/");
        }
        else
        {
            message = "Invalid username or password.";
        }
        // var client = HttpClientFactory.CreateClient("BaseUrl");
        // var response = await HttpClient.PostAsJsonAsync("https://localhost:7092/api/Login/Authenticate", loginRequest);

        // if (response.IsSuccessStatusCode)
        // {
        //     var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
        //     await TokenService.SaveTokenAsync(result.Token);
        //     ((CustomAuthenticationStateProvider)AuthStateProvider).NotifyAuthenticationStateChanged();
        //     message = "Login successful.";
        //     Navigation.NavigateTo("/");
        // }
        // else
        // {
        //     message = "Invalid username or password.";
        // }
    }


}
